*, *::before, *::after  {
  box-sizing: border-box;
}


.test-box {
  width: 400px;
  height: 200px;
  border: 2px solid green;
  margin: 0 auto 30px;
}
.text {
  width: 400px;
  margin: 0 auto;
}

.wrapper  {
  width: 400px;
  height: 200px;
  padding: 10px 10px 20px;
  border: 2px solid green;
  margin: 20px auto 0;
}

.container  {
  border: 2px solid blue;
  padding: 10px;
}