.img-holder {
  width: 150px;
  margin: 0 auto;
}
img {
  width: 100%;
}

.toggles  {
  width: 300px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

.toggle1, 
.toggle2,
.toggle3  {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.toggle1  {
  color: aliceblue;
  background-color: brown;
}

.toggle2  {
  color: aqua;
  background-color: darkgoldenrod;
}

.toggle3  {
  color: blueviolet;
  background-color: chartreuse;
}