*, *::before, *::after{
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  overflow: hidden;
}

.info-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 1em;
}
.car-img-container  {
  width: 50%;
}

.choise-setings__container  {
  display: flex;
  justify-content: space-between;
}

.choise-setings {
  margin: 1em;
}

.choise-setings__column {
  display: flex;
  flex-direction: column;
}

.choise-car  {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 1em;
}

.choise-car__item {
  border: 2px solid black;
  padding: .5em;
  border-radius: 1.5em;
}